# Data Collecting

### The Movie Database (TMDB) is a popular, community-built database for movies and TV shows. All the content has been added and updated by users dating back to the year 2008. TMDB has a strong focus on collecting data from around the globe, and covers a wide range of data, most of which can only be found on TMDB.

### https://www.themoviedb.org

In [1]:
import requests
import json
info=[]
#to loop through every page in the website
for x in range(1,50):
    url = "https://api.themoviedb.org/3/discover/movie?include_adult=false&include_video=false&language=en-US&page="+str(x)+"&sort_by=popularity.desc"
    headers = {
           "accept": "application/json",
           "Authorization": "Bearer eyJhbGciOiJIUzI1NiJ9.eyJhdWQiOiJkOTEzZTA5ZmM5ZjhhMjlkNWU0ZDM4NDlhODU2MmFmNCIsInN1YiI6IjY0NzA0ZGVhMTNhMzIwMDBkY2Y4ZDEwNiIsInNjb3BlcyI6WyJhcGlfcmVhZCJdLCJ2ZXJzaW9uIjoxfQ.CQIkwheI5Wtveier_4vEQsEFQfznstxjna4DeMWgvE8"
              }
    response = requests.get(url, headers=headers)
    
    res = json.loads(response.text)
    for result in res["results"]:
         info.append([result['id'],result['original_title'],result["overview"],result["original_language"] ,result["vote_average"] ,result["vote_count"],result["popularity"] ])

In [2]:
# Code for Converting the array into dataframe.
import pandas as pd 
df = pd.DataFrame(info,columns =['id','original_title','overview','original_language','vote_average','vote_count','popularity'])
csv_data = df.to_csv('dataset.csv' ,index=False)

# Data Overview

In [1]:
import pandas as pd 

dataset_csv= pd.read_csv("datasetBeforeClean.csv", lineterminator='\n')

In [2]:
dataset_csv.shape

(979, 7)

##### As shown there are 979 rows , 7 columns

In [3]:
dataset_csv.describe()

                 id  vote_average    vote_count  popularity\r
count  9.790000e+02    979.000000    979.000000    979.000000
mean   4.458146e+05      6.702349   4710.054137    124.886610
std    3.641892e+05      1.387913   6199.295685    315.613431
min    1.100000e+01      0.000000      0.000000     30.232000
25%    5.190100e+04      6.300000    124.000000     51.137000
50%    4.276410e+05      6.900000   1525.000000     64.609000
75%    7.706295e+05      7.500000   7315.500000     95.662000
max    1.122493e+06     10.000000  33725.000000   5203.400000

In [4]:
dataset_csv.describe(include=['O'])

,original_title,overview,original_language
count,979,974,979
unique,966,974,25
top,The Little Mermaid,"While working underground to fix a water main,...",en
freq,3,1,740

# Data Cleaning

In [5]:
dataset_csv.duplicated().sum()

0

In [6]:
dataset_csv['original_title'].duplicated().sum()

13

##### 13 duplicates of original_title

In [7]:
dataset_csv.drop_duplicates(['original_title'],keep="first" ,inplace=True)

In [8]:
dataset_csv.isnull().sum()

id                   0
original_title       0
overview             5
original_language    0
vote_average         0
vote_count           0
popularity\r         0
dtype: int64

##### 5 null values on overview

In [9]:
dataset_csv.dropna(how='any',inplace=True)

In [10]:
dataset_csv= dataset_csv.drop(columns='id')
dataset_csv.head()

,original_title,overview,original_language,vote_average,vote_count,popularity\r
0,The Super Mario Bros. Movie,"While working underground to fix a water main,...",en,7.8,3432,5203.400
1,Fast X,Over many missions and against impossible odds...,en,6.9,449,4334.616
2,John Wick: Chapter 4,"With the price on his head ever increasing, Jo...",en,8.0,1861,4746.497
3,Sisu,"Deep in the wilderness of Lapland, Aatami Korp...",fi,7.5,391,2367.432
4,Evil Dead Rise,Three siblings find an ancient vinyl that give...,en,7.1,1292,2301.350

##### drop id column , no need for it

In [11]:
dataset_csv.to_csv('new_dataset.csv', index=True)

dataset= pd.read_csv("new_dataset.csv" , sep=',' , lineterminator='\n')

##### save changes into new dataset

In [12]:
dataset.shape

(961, 7)

In [13]:
dataset.isnull().sum()

Unnamed: 0           0
original_title       0
overview             0
original_language    0
vote_average         0
vote_count           0
popularity\r         0
dtype: int64

In [14]:
dataset.describe(include=['O'])

,original_title,overview,original_language
count,961,961,961
unique,961,961,25
top,The Super Mario Bros. Movie,"While working underground to fix a water main,...",en
freq,1,1,727